services:
  - type: web
    name: hexi-multiplayer-server
    env: node
    region: oregon
    plan: free
    buildCommand: npm install
    startCommand: npm run start:server
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3001
    healthCheckPath: /health
